.menu{
    text-align:left
}
.img1{
    object-fit:cover;
    height:700px;
}
.atributos-receita{
    text-align: right;
}
.controles{
    margin: 10px;
    padding: 5px;
    border-radius: 30px;
    display: inline-block;
    max-width:16rem;    
}
.img2{
    object-fit: cover;
    object-position: 0 40%;
    max-height: 30em; 
}
.max {
    max-width: 15em;
}
form{
    display: inline;
}
.seção{
    align-content: right;
}
.controles2{
    min-width: 40em;
    min-height: 20em;
    border-radius: 30px;
}
